name: release_ci

on:
  workflow_dispatch:
  push:
    branches:
      - "feature/*"
      - "main"
      - "master"
      - "hotfix/*"
  release:
    types:
      - published
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+"

jobs:
  settings:
    runs-on: ubuntu-20.04
    timeout-minutes: 5
    outputs:
      DEPLOY_ENV: ${{ steps.branch-vars.outputs.DEPLOY_ENV }}
      TAG: ${{ steps.branch-vars.outputs.TAG }}
    steps:
    - name: Set output vars by branch name
      id: branch-vars
      run: |
        NAME=${GITHUB_REF_NAME}
        VERSION=${NAME:1}
        EVENT_NAME=${{ github.event_name }}
        echo $EVENT_NAME
        if [[ ${GITHUB_REF##*/} =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ && "$EVENT_NAME" == 'release' ]]; then
          echo "DEPLOY_ENV=production" >> $GITHUB_OUTPUT
          echo "TAG=$VERSION" >> $GITHUB_OUTPUT
          echo "run production when only publish"
        elif [[ ${GITHUB_REF##*/} == "main" ]]; then
          echo "DEPLOY_ENV=development" >> $GITHUB_OUTPUT
          echo "TAG=development" >> $GITHUB_OUTPUT
          echo "run production when only merge to main"
        else
          echo "DEPLOY_ENV=feature" >> $GITHUB_OUTPUT
          echo "TAG=feature" >> $GITHUB_OUTPUT
          echo "for feature branch"
